YAML

on:

  push:

    branches: [ main ]

jobs:

  web-deploy:

    name: Deploy

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

      with:

        fetch-depth: 2

    - name: FTP-Deploy to Locaweb

      uses: locaweb/ftp-deploy@1.0.0

      with:

        server: ${{ secrets.HOST }} 

        username: ${{ secrets.USER }}

        password: ${{ secrets.PASS }}

        server-dir: public_html/

        local-dir: html-version/
